[submodule "BelzontTLM/BelzontCommons"]
	path = BelzontTLM/BelzontCommons
	url = ../BelzontCommons
[submodule "_Frontends/UI/_replacements"]
	path = _Frontends/UI/_replacements
	url = ../Cs2UIUtility
[submodule "_Build"]
	path = _Build
	url = ../_Shared/Public
