.react-select-container {

    [aria-live],
    [id$=live-region] {
        display: none !important;
    }

    %value-control {
        padding-top: 4.000000rem;
        padding-left: 8.000000rem;
        padding-right: 8.000000rem;
        padding-bottom: 4.000000rem;
        border-top-style: solid;
        border-left-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-top-width: var(--stroke2);
        border-left-width: var(--stroke2);
        border-bottom-width: var(--stroke2);
        border-right-width: var(--stroke2);
    }

    .value-control {
        @extend %value-control;
        background-color: var(--menuControl1);

        border-top-color: var(--menuControlBorder);
        border-left-color: var(--menuControlBorder);
        border-bottom-color: var(--menuControlBorder);
        border-right-color: var(--menuControlBorder);
        border-top-left-radius: 3.000000rem 3.000000rem;
        border-top-right-radius: 3.000000rem 3.000000rem;
        border-bottom-left-radius: 3.000000rem 3.000000rem;
        border-bottom-right-radius: 3.000000rem 3.000000rem;
        display: flex;
        color: var(--menuText1Normal);

        font-size: 1.000000em;
        text-align: left;
        position: relative;

        .value-container {
            padding-right: 1em;
            width: 100%;

            .input {
                @extend %value-control;
                border-top-color: transparent;
                border-left-color: transparent;
                border-bottom-color: transparent;
                border-right-color: transparent;
                color: var(--menuText1Normal);
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                input {
                    color: var(--menuText1Normal);
                }
            }
        }

        .indicators-container {
            margin-left: -1em;
            filter: brightness(0) invert(0.500000);
            font-size: 1em !important;

            svg {
                width: 20.000000rem;
                height: 20.000000rem;
            }
        }
    }

    [id^=react-select-][id$=-placeholder] {
        color: var(--menuText1Normal);
    }

    .list-box {
        height: 2rem;
        margin-top: -1.5rem;
        z-index: 99999;
        overflow: visible;

        .menu-list {
            --contentPaddingHorizontal: var(--contentPadding);
            --scrollbarThumbSize: 4rem;
            --scrollbarMarginVertical: 6rem;
            --contentPaddingVertical: var(--contentPadding);
            --scrollbarPadding: var(--scrollbarSize);
            --contentPadding: 0rem;
            --scrollbarMarginHorizontal: 6rem;
            --scrollbarSize: 16rem;
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;
            padding-top: 0.000000rem;
            padding-left: 0.000000rem;
            padding-right: 0.000000rem;
            padding-bottom: 0.000000rem;

            font-size: var(--fontSizeM);
            background-color: var(--menuControl2);
            border-top-style: none;
            border-left-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-top-width: var(--stroke1);
            border-left-width: var(--stroke1);
            border-bottom-width: var(--stroke1);
            border-right-width: var(--stroke1);
            border-top-color: var(--menuControlBorder);
            border-left-color: var(--menuControlBorder);
            border-bottom-color: var(--menuControlBorder);
            border-right-color: var(--menuControlBorder);
            max-height: 50vh;

            .option {
                padding-top: 4.000000rem;
                padding-left: 8.000000rem;
                padding-right: 8.000000rem;
                padding-bottom: 4.000000rem;
                text-align: left;
                color: rgba(255, 255, 255, 0.800000);

                &:hover {
                    background-color: var(--hoverColor);
                }
            }

            z-index: 99999;
        }
    }
}