/* the tree node's style */
.tree-view {
    overflow-y: hidden;
    margin-top: 2px;
    margin-bottom: 1px;
}

.tree-view_item {
    display: flex;
    border: 1px solid;
    font-weight: 900;
    transition-property: background-color, color;
    transition-duration: 0.5s;

    color: var(--accentColorDarker);
    background-color: var(--accentColorNormal);

    &:hover {
        background-color: var(--accentColorNormal-hover);
        color: var(--accentColorDarker-hover);
    }
}

/* style for the children nodes container */
.tree-view_children {
    padding-top: 2px;
    margin-left: 16px;
    transition: margin-left 1s;
    opacity: 1;

    &.tree-view_children-collapsed {
        margin-left: 0px;
    }
}

.tree-view_arrow {
    margin-right: 6px;
    display: inline-block;
    user-select: none;
    transition: transform 1s;
}

.tree-view_arrow:after {
    content: '\21B3';
    color: var(--menuText1Inverted);

    &:hover {
        color: var(--menuText1);
    }
}

/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
    transform: rotate(-90deg);
}