.k45_xtm_paletteSettings {
    display: flex;
    flex-grow: 1;

    &_passenger,
    &_cargo {
        flex-grow: 1;
        display: flex;
        flex-shrink: 1;
        flex-direction: column;

        >h4 {
            text-align: center;
        }
    }
}