:root {
    background-color: black;
    color: white;
}

h1 {
    color: white;
    font-size: 60px;
}

button {
    background-color: green;
}

div.tableTopRow {
    display: flex;
    flex-direction: horizontal;

    div {
        display: block;
        flex: 1 0;
        border: 1px solid white;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 3px;
        font-weight: bold;
        border-bottom-width: 3px;
    }
}

div.tableRegularRow {
    display: flex;
    flex-direction: horizontal;

    div {
        display: block;
        flex: 1 0;
        border: 1px solid white;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 3px;
        font-weight: 200;
        border-top: 0;
    }
}

.w05 {
    width: 5%;
}
.w01 {
    width: 1%;
}
.w10 {
    width: 10%;
}

.w16 {
    width: 16%;
}

.w20 {
    width: 20%;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}

.w33 {
    width: 33%;
}

.w40 {
    width: 40%;
}

.w45 {
    width: 45%;
}

.w50 {
    width: 50%;
}

.w66 {
    width: 66%;
}

.w70 {
    width: 70%;
}

.w75 {
    width: 75%;
}

.w80 {
    width: 80%;
}

.w83 {
    width: 83%;
}

.w90 {
    width: 90%;
}