div.vehicleModelSelection {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    div.buttonContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        h4 {
            width: 100%;
            text-align: center;
        }

        .modelSelect {
            background-color: rgba(45, 45, 45, 0.8);
            color: white;
            margin-top: 3rem;
            margin-bottom: 3rem;
            margin-left: 3rem;
            margin-right: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-transform: none;

            &:hover {
                background-color: rgba(90, 90, 90, 0.8);
            }

            &.selected {
                background-color: var(--accentColorNormal);
                color: var(--textColorDark);

                .assetName {
                    background-color: rgba(45, 45, 45, 0.8);
                }

                &:hover {
                    background-color: var(--accentColorLight);
                }
            }

            .translatedName {
                font-size: 120%;
            }

            .assetName {
                background-color: rgba(45, 45, 45, 0.8);
                font-size: 80%;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                color: var(--accentColorNormal);
                padding-top: 3rem;
                padding-left: 3rem;
                padding-right: 3rem;
                padding-bottom: 3rem;
            }
        }
    }
}