.k45_xtm_paletteEditor {
    --lineIconSizeMultiplier: 4;


    %lineIconContainer {
        width: calc(4rem * var(--lineIconSizeMultiplier));
        height: calc(4rem * var(--lineIconSizeMultiplier));
        margin-left: calc(.25rem * var(--lineIconSizeMultiplier));
        margin-right: calc(.25rem * var(--lineIconSizeMultiplier));
        margin-top: calc(.25rem * var(--lineIconSizeMultiplier));
        margin-bottom: calc(.25rem * var(--lineIconSizeMultiplier));

        &.currentSelected {
            border-style: solid;
            border-left-color: var(--accentColorDarker);
            border-right-color: var(--accentColorDarker);
            border-top-color: var(--accentColorDarker);
            border-bottom-color: var(--accentColorDarker);
            background-color: var(--accentColorLight);

            border-left-width: calc(.25rem * var(--lineIconSizeMultiplier));
            border-right-width: calc(.25rem * var(--lineIconSizeMultiplier));
            border-top-width: calc(.25rem * var(--lineIconSizeMultiplier));
            border-bottom-width: calc(.25rem * var(--lineIconSizeMultiplier));

            width: calc(4.5rem * var(--lineIconSizeMultiplier));
            height: calc(4.5rem * var(--lineIconSizeMultiplier));

            margin: 0;

        }
    }

    %lineIcon {
        width: 100%;
        height: 100%;
        border-radius: 99999rem;
        border-left-width: calc(0.25rem * var(--lineIconSizeMultiplier)) !important;
        border-right-width: calc(0.25rem * var(--lineIconSizeMultiplier)) !important;
        border-top-width: calc(0.25rem * var(--lineIconSizeMultiplier)) !important;
        border-bottom-width: calc(0.25rem * var(--lineIconSizeMultiplier)) !important;
        background-color: var(--lineColor);
        border-left-color: var(--contrastColor) !important;
        border-right-color: var(--contrastColor) !important;
        border-top-color: var(--contrastColor) !important;
        border-bottom-color: var(--contrastColor) !important;
        color: var(--contrastColor) !important;
        border-style: solid !important;
        text-align: center;
        position: absolute;
        left: -1rem;
        top: -1rem;
        font-weight: bold;
        z-index: 99;
        overflow: hidden;

        .routeNum {
            border: none !important;
            background: none;
            width: 100%;
            position: absolute;
            top: 50%;
            padding-left: calc(.25rem * var(--lineIconSizeMultiplier));
            padding-right: calc(.25rem * var(--lineIconSizeMultiplier));
            font-size: calc(3.25rem * var(--lineIconSizeMultiplier));
            text-align: center;
            position: absolute;
            transform: translateY(-50.000000%);
            padding-top: calc(1rem * var(--lineIconSizeMultiplier));
            coh-font-fit-mode: shrink;

            &.singleLine {
                transform: none;
                padding-top: 0;
                line-height: 0;
            }
        }
    }

    .paletteViewer {
        display: flex;
        padding-top: 2rem;
        padding-bottom: 2rem;

        &:nth-child(2n) {
            background-color: rgba(0, 0, 0, 0.288);
        }

        label {
            min-height: 20rem;
            padding: 6rem;
        }
    }

    .k45_tabWithPreview_preview {
        padding: 5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .lineIconContainer {
        @extend %lineIconContainer;
        position: relative;

        .excludeBtn,
        .moveMinus,
        .movePlus {
            display: none;
        }

        .lineIcon {
            @extend %lineIcon;
            position: relative;
            display: flex;
            margin-right: 6rem;

        }

        &:hover {
            %commonBtn {
                display: flex;
                position: absolute;
                width: calc(1rem * var(--lineIconSizeMultiplier));
                height: calc(1rem * var(--lineIconSizeMultiplier));
                font-size: calc(1.125rem* var(--lineIconSizeMultiplier));
                line-height: calc(1rem* var(--lineIconSizeMultiplier));
                text-align: center;
                justify-content: center;
                z-index: 9999;
                border-width: 1rem;
                border-style: solid;
            }

            .excludeBtn {
                @extend %commonBtn;
                top: 2rem;
                right: 2rem;
                background-color: var(--negativeColor);
                color: var(--iconColor);
                line-height: calc(.75rem* var(--lineIconSizeMultiplier));

                &:hover {
                    background-color: var(--warningColor);
                }
            }

            .moveMinus {
                @extend %commonBtn;
                bottom: 2rem;
                left: 2rem;
                background-color: var(--accentColorLight);
                color: var(--accentColorDarker);

                &:hover {
                    background-color: var(--accentColorLightest);
                    color: var(--accentColorDarker-hover);
                }
            }

            .movePlus {
                @extend %commonBtn;
                bottom: 2rem;
                right: 2rem;
                background-color: var(--accentColorLight);
                color: var(--accentColorDarker);

                &:hover {
                    background-color: var(--accentColorLightest);
                    color: var(--accentColorDarker-hover);
                }
            }
        }
    }


}

.k45_xtm_colorPickerOverlay {
    width: 300rem;
    padding-top: 10rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 10rem;

    [class^=preview_] {
        display: none;
    }
}

[class^=dropdown-popup_] {
    z-index: 999999 !important;
}